:root {
  --green: #a0c49d;
  --dark-green: #a0c49d;
  --light-gray: #a0c49d;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f5f5f5;
}

header {
  background: var(--green);
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-box {
  flex: 1;
  margin: 0 20px;
  position: relative;
}

.search-box input {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: none;
  font-size: 16px;
}

.autocomplete-suggestions {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: white;
  border: 1px solid #ccc;
  border-top: none;
  max-height: 150px;
  overflow-y: auto;
  z-index: 999;
}

.autocomplete-suggestions div {
  padding: 8px;
  cursor: pointer;
}

.autocomplete-suggestions div:hover {
  background-color: #eee;
}

.header-icons {
  display: flex;
  gap: 16px;
  align-items: center;
  color: white;
  font-size: 14px;
}

main {
  padding: 20px;
}

.filters {
  display: flex;
  gap: 30px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.filters button {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  border-bottom: 2px solid transparent;
}

.filters button.active {
  border-color: var(--dark-green);
  font-weight: bold;
}

.ticket {
  background: #eee;
  padding: 10px;
  display: flex;
  border-radius: 10px;
  margin-bottom: 20px;
}

.ticket img {
  width: 210px;
  height: 150px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 20px;
}

.ticket-content {
  flex: 1;
}

.ticket-content h3 {
  margin: 0;
  margin-top: 25px;
  font-size: 19px;
}

.ticket-content p {
  font-size: 17px;
  margin-top: 8px;
}

.ticket-price {
  text-align: center;
  min-width: 150px;
  margin-top: 38px;
  font-size: 20px;
  margin-right: 20px;
}

.ticket-price span {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}

.ticket-price button {
  background: var(--dark-green);
  color: white;
  border: none;
  padding: 8px 20px;
  font-size: 18px;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.ticket-price button:hover {
  transform: scale(1.08);
}

@media (max-width: 768px) {
  .ticket {
    flex-direction: column;
    align-items: flex-start;
  }

  .ticket img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }

  .ticket-price {
    text-align: left;
    margin-top: 10px;
  }

  .header-icons {
    flex-direction: column;
  }
}
