body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
}

.top-bar {
  background-color: #99bb99;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.logo img {
  height: 40px;
}

.top-nav a {
  position: relative;
  margin: 0 10px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.3s ease;
}

.top-nav a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -4px; 
  width: 0%;
  height: 2px;
  background-color: white;
  transition: width 0.3s ease;
}

.top-nav a:hover {
  color: white;
}

.top-nav a:hover::after {
  width: 100%;
}


.profile {
  display: flex;
  align-items: center;
  color: white;
}

.profile span {
  margin-right: 10px;
}

main.history {
  padding: 30px;
  max-width: 800px;
  margin: auto;
}

h1 {
  color: #333;
  margin-bottom: 20px;
}

.ticket {
  background-color: #eae5e1;
  border-radius: 8px;
  padding: 15px 20px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.ticket:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transform: translateY(-7px);
}

.ticket .info {
  font-size: 15px;
  line-height: 1.6;
}

.ticket .icon {
  font-size: 26px;
  margin-left: 10px;
}
